<!DOCTYPE html>
<html>
  <head>
    <title>PDX VeGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Prata|Shrikhand" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>
  <nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo title_font">PDX VeGuide</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Restaurants", restaurants_path, class: "nav_font" %></li>
        <li><a href="#" class="nav_font">Grocery</a></li>
        <li><a href="#" class="nav_font">Profile</a></li>
      </ul>
    </div>
  </nav>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
